{% extends 'base.html' %}
{% block contents %}
    <form action="{% url 'update' todo.id%}"  class="needs-validation" novalidate>
        <div class="form-group">
            <label for="title">제목 : </label>
            <input type="text" class="form-control" name="title" id="title" value="{{ todo.title }}" required>
            <div class="invalid-feedback">
                제목을 입력해주세요!
            </div>
        </div>
        <div class="form-row">
            <div class="col-3" style="padding-right: 15px;">
                <div class="form-group">
                    <label for="priority">중요도 : </label>
                    <select class="form-control" id="priority" name="priority">
                        <option value="0" {% if todo.priority == '0' %} selected {% endif %}>보통</option>
                        <option value="1" {% if todo.priority == '1' %} selected {% endif %}>중요</option>
                        <option value="2" {% if todo.priority == '2' %} selected {% endif %}>매우 중요</option>
                    </select>
                </div>
            </div>
            <div class="col" style="padding-left: 15px;">
                <div class="form-group">
                    <label for="deadline">마감일 : </label>

                    <div id="deadline" class="row">
                        <div class="form-group col">
                            <div class="input-group date" id="datepicker" data-target-input="nearest">
                                <input type="text" name="datepicker" class="form-control datetimepicker-input" data-target="#datepicker" value="{{ todo.deadline|date:'Y.m.d' }}"/>
                                <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <div class="input-group date" id="timepicker" data-target-input="nearest">
                                <input type="text" name="timepicker" class="form-control datetimepicker-input" data-target="#timepicker" value="{{ todo.deadline|date:'H:i' }}"/>
                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="content">설명 : </label>
            <textarea name="content" class="form-control" id="content" style="height:200px;">{{ todo.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datetimepicker({
                format: 'L'
            });
        });
        $(function () {
            $('#timepicker').datetimepicker({
                format: 'LT'
            });
        });
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
{% endblock %}