{% extends 'base.html' %}
{% block contents %}
    <h2>{{ title }}</h2>
    <br>
    {% if nodeadline|length != 0 %}
        <ul class="list-group list-group-flush">
            {% for todo in nodeadline %}
                <li class="list-group-item" id="line_{{ todo.id }}">
                    <div class="row">
                        <div class="col" style="flex-grow:0; padding:0;">
                            <a role="button" class="btn complete" style="padding: 0;" name="{{ todo.id }}">
                                <div  id="{{ todo.id }}" class="todocheck
                                            {% if todo.completed %}completed{% endif %}
                                            {% if todo.priority == '1' %}important{% elif todo.priority == '2' %}very-important{% endif %}">
                                    <span class="fas fa-check" style="font-size: 9pt; display:table-cell; padding:3px;"></span>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <div style="vertical-align: center">
                                <div style="float: left">
                                    <a href="{% url 'detail' todo.id %}" class="title"> {{ todo.title }} </a>
                                    {% if today|date:"Y.m.d" == todo.deadline|date:"Y.m.d" %}
                                        <span style="margin-left:10px;" class="badge badge-info">today</span>
                                    {% endif %}
                                </div>

                                <div style="float: right; color: gray; margin-left:10px"><a role="button" class="delete" name="{{ todo.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a></div>
                                <div style="float: right; width:200px">
                                    {% if todo.deadline != None %}
                                        {{ todo.deadline|date:"Y.m.d"}}
                                        {% if todo.deadline|date:"H:i" != '23:59' %}
                                            {% if todo.deadline|date:"A" == "AM" %} 오전
                                            {% else %} 오후
                                            {% endif %}
                                            {{ todo.deadline|date:"H:i" }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br><br>
    {% endif %}
    {% if date.items|length != 0 %}
    {% for day, todos in date.items %}
        <h3>{{ day }}</h3>
        <ul class="list-group list-group-flush">

        {% for todo in todos %}
            <li class="list-group-item" id="line_{{ todo.id }}">
                <div class="row">
                    <div class="col" style="flex-grow:0; padding:0;">
                        <a role="button" class="btn complete" style="padding: 0;" name="{{ todo.id }}">
                            <div  id="{{ todo.id }}" class="todocheck
                                        {% if todo.completed %}completed{% endif %}
                                        {% if todo.priority == '1' %}important{% elif todo.priority == '2' %}very-important{% endif %}">
                                <span class="fas fa-check" style="font-size: 9pt; display:table-cell; padding:3px;"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <div style="vertical-align: center">
                            <div style="float: left">
                                <a href="{% url 'detail' todo.id %}" class="title"> {{ todo.title }} </a>
                                {% if today|date:"Y.m.d" == todo.deadline|date:"Y.m.d" %}
                                    <span style="margin-left:10px;" class="badge badge-info">today</span>
                                {% endif %}
                            </div>

                            <div style="float: right; color: gray; margin-left:10px"><a role="button" class="delete" name="{{ todo.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </a></div>
                            <div style="float: right; width:200px">
                                {% if todo.deadline != None %}
                                    {{ todo.deadline|date:"Y.m.d"}}
                                    {% if todo.deadline|date:"H:i" != '23:59' %}
                                        {% if todo.deadline|date:"A" == "AM" %} 오전
                                        {% else %} 오후
                                        {% endif %}
                                        {{ todo.deadline|date:"H:i" }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        <br><br>
    {% endfor %}
    {% endif %}
    {% if nodeadline|length == 0 and date|length == 0 %}
        <h3>완료되지 않은 TODO가 없어요!!</h3>
    {% endif %}
    <script>
        $(".complete").click(function(){
            var id = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'complete' %}",
                data: {'todo_id':id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                //dataType: "json",
                success: function(response){
                    $("#noti").text(response.noti);
                    $("#noti_un").text(response.noti_un);
                    if(!response.status){
                        $("#"+id).removeClass("completed");
                        return;
                    }
                    $("#"+id).addClass("completed");
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    window.location.replace("")
                }
            });
        });
        $(".delete").click(function(){
            if(confirm("정말로 삭제하나요?")){
                var id = $(this).attr('name')
                $.ajax({
                    type: "POST",
                    url: "{% url 'delete' %}",
                    data: {'todo_id':id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    //dataType: "json",
                    success: function(response){
                        $("#noti").text(response.noti);
                        $("#noti_un").text(response.noti_un);
                        $("#line_"+id).remove();
                    },
                    error: function(request, status, error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        window.location.replace("")
                    }
                });
            }
        });
    </script>
{% endblock %}