{% extends 'base.html' %}
{% block contents %}
    <ul class="list-group list-group-flush">

    {% for todo in todos %}
        <li class="list-group-item" id="{{ todo.id }}">
            <div class="row">
                <div class="col" style="flex-grow:0; padding:0;">
                    <a class="btn" href="#" role="button" style="padding: 0;">
                        <div class="todocheck
                                    {% if todo.completed %}completed{% endif %}
                                    {% if todo.priority == '1' %}important{% elif todo.priority == '2' %}very-important{% endif %}">
                            <span class="fas fa-check" style="font-size: 9pt; display:table-cell; padding:3px;"></span>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div style="vertical-align: center">
                        <div style="float: left">{{ todo.title }}</div>
                        <div style="float: right; color: gray; margin-left:10px"><i class="fas fa-trash-alt"></i></div>
                        <div style="float: right">{% if todo.deadline != None %}{{ todo.deadline }}{% endif %}</div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col">
                    <div style="font-size: 8pt">
                        {{ todo.summary }}
                    </div>
                </div>
            </div>
            -->
        </li>
    {% endfor %}
    </ul>
{% endblock %}